.btn1 {

    background-color: rgb(168, 168, 168);
    border: 1px solid;
    color: black;
    display: inline_block;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 16px;
    text-transform: uppercase;
    text-decoration: none;

}

.btn1:hover {
    background-color: black;
    color: white;
    transition: 2s;
}

.btn2 {
    background-color: rgb(165, 4, 4);
    border: 1px solid;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    display: inline_block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    padding: 13px 18px;
    text-decoration: none;
    text-transform: uppercase;
}

.btn2:hover {
    background-color: rgb(202, 1, 1);
}
.btn3 {
    background-color: rgb(218, 216, 216);
    background-image: url(img/logo-tiktok.png);
    background-position-x: 5px;
    background-position-y: 4px;
    background-repeat: no-repeat;
    background-size: 32px;
    display: inline_block;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    padding: 10px;
    text-decoration: none;
}
.btn3:hover{
    background-size: 34px;
    transition: 2s;
}