#menu1 a {
    color: white;
    background-color: black;
    display: flex;
    font-weight: lighter;
    letter-spacing: 2px;
    margin: 3px;
    padding: 6px 6px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 1s;
}

#menu1 a:hover {
    background-color: 74c593;
}

#menu1 ul.active a {
    background-color: 74c593;
    display: inline-block;
}

/* menu2*/
#menu2 {
    background-color: #dd2e1c;
    border-bottom: #e37e73;
    color: white;
    list-style: none;
    padding: 6px 6px;
    display: inline-flex;
}

#menu2 a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 2px;
    margin: 3px;
    padding: 6px 6px;
    text-decoration: none;
}

#menu2 a:hover {
    text-decoration: underline;
}

#menu2 li.active {
    text-decoration: underline;
}